body {
    background-color: #87CEFA;
}

h1 {
    color: #5bbfe7;
}

.header {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

button {
    background-color: #87CEEB;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    padding: 15px;
    font-size: 20px;
}

.square {
    display: flex;
    flex: 1;
}

.blue {
    background-color: blue;
}

.black{
    background-color: black;
}

.column {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    max-width: 70%;
    max-height: 70%;
    background-color: white;
}